body {
    padding-top: 20px;
    font-family: sans-serif, Arial;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.search-form .search-bar {
    display: flex;
}

.search-form .mySelect{
    cursor: pointer;
}

.search-form .btn-a {
    display: flex;
    height: 38px;
    width: 70px;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    margin: 15px 0;
}

    .search-form .btn-a:hover {
        background-color: rgba(0, 0, 0, 0.1);
    }

    .search-form .btn-a a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        text-decoration: none;
        font-weight: 600;
        color: #212529;
    }

.remove-form .quetion {
    display: flex;
    color: red;
    font-weight: 600;
    font-size: 20px;
    justify-content: center;
}

.remove-form .myTable{
    margin: 50px 0;
}

.remove-form .btn-yes {
}

.remove-form .btn-go-back {
}

.edit label {
    margin-top: 0.5rem;
    color: #28a745;
    font-weight: 600;
}
.errMessage {
    margin-top: 16px;
    font-size: 18px;
    color: #dc3545;
    font-weight: 600;
}
.completeMessage {
    margin-top: 16px;
    font-size: 18px;
    color: #28a745;
    font-weight: 600;
}
.mytr{
    cursor: pointer;
}