
@{
    ViewBag.Title = "SignIn";
}

<h4>Sign In</h4>

<form method="post">
    <label>LogIn</label><br>
    <input type="text" name="Logn" value="@Model.Logn" /><br>

    <label>Password</label><br>
    <input type="text" name="Pass" value="@Model.Pass" /><br>

    <input type="submit" value="Submit" />
    <p>@ViewBag.Message</p>
</form>
